body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
}


/*Parte da Navbar*/
.navbar {
    background-color: #0a7d2c;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 40px;
}

.logo {
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 100px;
    height: 80px;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
}

.btn_login {
    border: 2px solid white;
    padding: 8px 16px;
    border-radius: 12px;
}

.btn_login:hover {
    background-color: #066622;
}

.btn_cadastrar {
    background-color: #e6e6e6;
    color: #0a7d2c;
    padding: 8px 16px;
    border-radius: 12px;
    font-weight: bold;
}

.btn_cadastrar:hover {
    background-color: #d1d1d1;
}


/*Parte do footer*/
.footer {
    background-color: #0a4d2c;
    color: white;
    text-align: center;
    padding: 25px 10px;
}

.footer p {
    margin: 0;
    margin-bottom: 10px;
}

.footer a {
    color: #90ee90;
    text-decoration: none;
    font-size: 14px;
}

.footer a:hover {
    text-decoration: underline;
}